<!--
    This file is part of SQLCoach.
   
    SQLCoach is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
   
    SQLCoach is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
   
    You should have received a copy of the GNU Affero General Public License
    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
         id="WebApp_ID" version="3.0">
 <display-name>SQLcoach</display-name>
 <servlet>
  <servlet-name>action</servlet-name>
  <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
  <init-param>
   <param-name>config</param-name>
   <param-value>/WEB-INF/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>debug</param-name>
   <param-value>2</param-value>
  </init-param>
  <init-param>
   <param-name>detail</param-name>
   <param-value>2</param-value>
  </init-param>
  <load-on-startup>2</load-on-startup>
 </servlet>
 <!-- Name -> Class Mapping -->
 <!-- <servlet>
  <servlet-name>HelloWorld</servlet-name>
  <servlet-class>de.sqlcoach.HelloWorld</servlet-class>
 </servlet> -->
 <servlet>
  <servlet-name>Language</servlet-name>
  <servlet-class>de.sqlcoach.internationalization.Language</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Index</servlet-name>
  <jsp-file>/index.jsp</jsp-file>
 </servlet>
 <servlet>
  <servlet-name>Imprint</servlet-name>
  <jsp-file>/imprint.jsp</jsp-file>
 </servlet>
 <servlet>
  <servlet-name>Login</servlet-name>
  <jsp-file>/login.jsp</jsp-file>
 </servlet>
 <servlet>
  <servlet-name>Logout</servlet-name>
  <jsp-file>/logout.jsp</jsp-file>
 </servlet>
 <servlet>
  <servlet-name>Training</servlet-name>
  <servlet-class>de.sqlcoach.action.TrainingController</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>User</servlet-name>
  <jsp-file>/user.jsp</jsp-file>
 </servlet>
 <servlet>
  <servlet-name>ExerciseConfig</servlet-name>
  <servlet-class>de.sqlcoach.action.AdminController</servlet-class>
  <init-param>
   <param-name>page</param-name>
   <param-value>exerciseconfig</param-value>
  </init-param>
 </servlet>
 <servlet>
  <servlet-name>Exercise</servlet-name>
  <servlet-class>de.sqlcoach.action.AdminController</servlet-class>
  <init-param>
   <param-name>page</param-name>
   <param-value>exercise</param-value>
  </init-param>
 </servlet>
 <servlet>
  <servlet-name>Rank</servlet-name>
  <servlet-class>de.sqlcoach.action.RankController</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Userconfig</servlet-name>
  <servlet-class>de.sqlcoach.action.UserConfigController</servlet-class>
  <init-param>
   <param-name>page</param-name>
   <param-value>user</param-value>
  </init-param>
 </servlet>
 <servlet>
  <servlet-name>Statistic</servlet-name>
  <servlet-class>de.sqlcoach.action.StatisticController</servlet-class>
  <init-param>
   <param-name>page</param-name>
   <param-value>statistic</param-value>
  </init-param>
 </servlet>
<!--  <servlet>
  <servlet-name>Connection</servlet-name>
  <servlet-class>de.sqlcoach.research.ConnectionTestServlet</servlet-class>
 </servlet> -->
 <!-- Name -> URL Pattern Mapping -->
 <servlet-mapping>
  <servlet-name>Index</servlet-name>
  <url-pattern>/index</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Imprint</servlet-name>
  <url-pattern>/imprint</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/logout</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Training</servlet-name>
  <url-pattern>/training</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Exercise</servlet-name>
  <url-pattern>/exercise</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExerciseConfig</servlet-name>
  <url-pattern>/exerciseconfig</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Rank</servlet-name>
  <url-pattern>/rank</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>User</servlet-name>
  <url-pattern>/user</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Statistic</servlet-name>
  <url-pattern>/statistic</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Connection</servlet-name>
  <url-pattern>/Connection</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Language</servlet-name>
  <url-pattern>/lang</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Userconfig</servlet-name>
  <url-pattern>/userconfig</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>HelloWorld</servlet-name>
  <url-pattern>/HelloWorld</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>action</servlet-name>
  <url-pattern>*.do</url-pattern>
 </servlet-mapping>
 
 <session-config>
  <session-timeout>30</session-timeout>
 </session-config>
 
 <!-- Welcome / Start Files -->
 <welcome-file-list>
  <welcome-file>index</welcome-file>
  <welcome-file>index.html</welcome-file>
  <welcome-file>index.htm</welcome-file>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 
 <!-- Taglibs -->
 <jsp-config>
  <taglib>
   <taglib-uri>http://jakarta.apache.org/struts/tags-bean</taglib-uri>
   <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>http://jakarta.apache.org/struts/tags-html</taglib-uri>
   <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>/WEB-INF/sqlcoach-custom.tld</taglib-uri>
   <taglib-location>/WEB-INF/sqlcoach-custom.tld</taglib-location>
  </taglib>
 </jsp-config>
 
 <context-param>
   <description>Enthaelt Pfad zu den ApplicationResources-Dateien</description>
	<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
	<param-value>de.sqlcoach.internationalization.MessageResources</param-value>
 </context-param>
 
 <!-- DataSources for DatabaseConnections -->
 <resource-ref>
  <description>
    Resource reference to a factory for java.sql.Connection instances that may be used for
    talking to a particular database that is configured in the server.xml file.
    This is the connection for the sqlcoach data: scenarios, execises, ...
  </description>
  <res-ref-name>jdbc/SQLCOACH_DBADS</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
  <res-auth>Container</res-auth>
 </resource-ref>

 <resource-ref>
  <description>
    Resource reference to a factory for java.sql.Connection instances that may be used for
    talking to a particular database that is configured in the server.xml file.
    This is the resource for scenario 1
  </description>
  <res-ref-name>jdbc/SQLCOACH_SCENARIO_1DS</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
  <res-auth>Container</res-auth>
 </resource-ref>
 
  <!-- <resource-ref>
  <description>
    Resource reference to a factory for java.sql.Connection instances that may be used for
    talking to a particular database that is configured in the server.xml file.
    This is the resource for scenario 2
  </description>
  <res-ref-name>jdbc/SQLCOACH_SCENARIO_2DS</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
  <res-auth>Container</res-auth>
 </resource-ref> -->
</web-app>