.cp-window { position:relative;width:100%;height:100%; }
.cp-editor { width:100%;frameborder:0;border:0; }
.cp-menu { border-top:1px solid #dadada;background:#eee;position:absolute;bottom:0;left:0;right:0;padding:3px 5px 2px 10px;}
.cp-filename { float:left;font:normal 12px georgia;color:gray;}
.cp-options, .cp-language { width:124px;padding-left:5px;float:right;font:normal 11px arial;border-left:1px solid silver;cursor:hand;cursor:pointer;color:black;}

.cp-languages-menu, .cp-options-menu { position:absolute;bottom:20px;z-index:100;background:#eee;border:1px solid gray;font:normal 13px arial;padding:5px 7px 5px 2px;color:black; }
.cp-languages-menu { right:173px; }
.cp-options-menu { right:18px; }
.cp-languages-menu label, .cp-options-menu label { cursor:hand;cursor:pointer; }

.cp-options-menu.hide, .cp-languages-menu.hide {display:none;}
.cp-options-menu.show, .cp-languages-menu.show {display:block;}

.cp-window.fullscreen-on { position:absolute;top:0;left:0; }
.cp-window.fullscreen-off { position:relative;top:auto;left:auto;width:100%; }

code.cp, .cp { border:1px solid gray;width:700px;height:400px;display:block;overflow:hidden;background:white;font:normal 13px monospace;white-space:pre;line-height:16px;color:silver;padding:0;margin:0;visibility:visible; }
code.hideFileName .cp-filename, code.hideLanguage .cp-language, code.hideOptions .cp-options, code.hideMenu .cp-menu { display:none; }
